.background-section2 {
    margin-top: 30px;
    background-image: url("https://images.unsplash.com/photo-1565008447742-97f6f38c985c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1631&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px; /* Ajusta la altura del div según tus necesidades */
  }
